@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin text-ellipsis-2 {
  display: box;
  /* stylelint-disable-next-line */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  /* stylelint-disable-next-line */
  box-orient: vertical;
  /* stylelint-disable-next-line */
  -webkit-box-orient: vertical;
}

@mixin text-ellipsis-3 {
  display: box;
  /* stylelint-disable-next-line */
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  /* stylelint-disable-next-line */
  box-orient: vertical;
  /* stylelint-disable-next-line */
  -webkit-box-orient: vertical;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin btn-normal {
  height: 88rpx;
  background: linear-gradient(135deg, #FFAB43 0%, #FF6829 100%);
  border-radius: 50rpx;
  color: #ffffff;
  font-size: 32rpx;
  font-weight: 600;
  line-height: 88rpx;
  text-align: center;
}
